body{
    padding: 100px;
    background-color:beige;
}
.bank_title{
    text-align: center;
}
.submit-area{
    background-color: white;
    margin-top: 50px;
    padding: 40px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 20px;
    
}
#transaction-area{
    display: none;
}
.deposit{
    margin: 0px 20px;
    background-color: slateblue;
}
.withdraw{
    margin: 0px 20px;
    background-color: salmon;
}
.balance{
    margin: 0px 20px;
    background-color: rgb(21, 115, 71);
}
.status{
    padding: 30px;
    color: white;
    border-radius: 10px;
}